body{
    background-image: url(images/video.jpg);
}

/* Form content */
.display-query{
    border-radius: 5px;
    background-color: cornflowerblue;
    padding: 50px;
    width: 1000px;
    height: 800px;
    margin-top: 12%;
    margin-left: 35%;
    box-sizing: border-box;
    margin: auto;
    position:relative;  
    top: -130px;
}

.form-main{
    margin-left:-20%;

}
/* Popup message */
.right-text{
    display:none;
    height: 350px;
    width: 345px;
    background-color: rgb(255, 255, 255);
    padding: 50px 50px;
    margin: auto;
    border-radius: 5px;
}
.q-head{
    text-align: center;
}


/* Input text fields */
input[type=text],
input[type=email]{
    height: 22px;
    border-radius: 4px;
    margin: 7px;
    margin-left: 30px;
    background: #ffffff;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    resize: vertical;
}


}

.col-25 {
    float: left;
    width: 40%;
    margin-top: 6px;
    color: white;
    margin-left: -110px;
  }
  
  .col-75 {
    float: left;
    width: 60%;
    margin-top: 6px;

  }
/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
  }
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    
  }
  label:hover{
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
  }

